@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Inter:wght@200&display=swap");
nav {
  position: sticky;
  right: -20px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7.5%;
  height: 770px;
  background-color: var(--section-background);
  box-shadow: 4px 0px 10px 0px var(--navShadowColor);
}
nav .icons-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
}
nav .icons-list .dark-light-logo {
  margin-top: 65px;
  margin-bottom: 20px;
}
nav .icons-list .dark-light-logo path {
  fill: var(--heading-color);
}
nav .icons-list .dark-light-logo:hover {
  cursor: pointer;
  scale: 1.2;
}
nav .icons-list .navbar-icon {
  position: relative;
}
nav .icons-list .navbar-icon path {
  fill: var(--heading-color);
}
nav .icons-list .navbar-icon:hover {
  cursor: pointer;
  scale: 1.2;
}
nav .icons-list .navbar-icon:hover path {
  fill: var(--mainBlueColor);
}
nav .icons-list .navbar-icon:hover::before {
  opacity: 100%;
}
nav .icons-list .navbar-icon:hover::after {
  background-color: var(--heading-color);
}
nav .icons-list .navbar-icon::after {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  content: "";
  width: 40px;
  height: 40px;
  background-color: var(--mainBlueColor);
  opacity: 0.2;
}
nav .icons-list .navbar-icon::before {
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  height: 18px;
  top: -42px;
  opacity: 0;
  border-radius: 5px;
}
nav .home-icon::before {
  content: "Home";
  left: -10px;
}
nav .services-icon::before {
  content: "Services";
}
nav .reviews-icon::before {
  content: "Reviews";
}
nav .projects-icon::before {
  content: "Projects";
}
nav .message-icon::before {
  content: "Feedback";
  left: -18px;
}
nav .contact-icon::before {
  content: "Contact";
  left: -14px;
}
nav .services-icon::before,
nav .reviews-icon::before,
nav .projects-icon::before {
  left: -15px;
}

main {
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 100px;
  color: var(--heading-color);
}
main section {
  width: 100%;
  text-align: center;
}
main #home {
  height: 20%;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
main #home:hover .text, main #home img:hover .text, main #home svg:hover .text, main #home .home-text:hover .text {
  translate: 40%;
}
main #home:hover img, main #home img:hover img, main #home svg:hover img, main #home .home-text:hover img {
  translate: -130%;
}
main #home:hover svg, main #home img:hover svg, main #home svg:hover svg, main #home .home-text:hover svg {
  transform: scaleX(-1);
}
main #home p {
  padding-left: 30px;
  width: 48%;
}
main #home .home-text {
  height: 50vh;
  background-color: var(--section-background);
  width: 100%;
}
main #home .home-text #soft-ware-word {
  color: var(--mainBlueColor);
}
main #home .home-image {
  margin-top: 20px;
}
main #home .home-image img {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: all 0.5s;
}
main #home .home-image img:hover {
  translate: -100%;
}
main #home .home-image svg {
  z-index: 0;
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: -11px;
  opacity: 70%;
}
main #my-services .services-container {
  padding-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main #my-services .services-container div {
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  background-color: var(--section-background);
  padding-top: 20px;
  width: 30%;
  height: 200px;
  border-radius: 20px;
}
main #my-services .services-container div svg {
  width: 100%;
}
main #my-services .services-container div svg path {
  fill: var(--mainBlueColor);
}
main #my-services .services-container div img {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
main #my-services .services-container div span {
  color: var(--paragraph-color);
  width: 100%;
  padding-left: 0;
}
main #my-services .services-container div:hover {
  scale: 1.2;
  opacity: 60%;
}
main h1 {
  width: 52%;
  color: var(--heading-color);
  font-size: 48px;
  font-weight: bolder;
  line-height: 60%;
  padding-left: 30px;
}
main h2 {
  color: var(--heading-color);
  font-size: 36px;
}
main p {
  padding-left: 29%;
  width: 42%;
  height: 88px;
  flex-shrink: 0;
  color: var(--paragraph-color);
  font-feature-settings: "calt" off;
  font-family: cairo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 3%;
       column-gap: 3%;
  padding-bottom: 2%;
}
footer section {
  background-color: var(--section-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer #feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--section-background);
  padding: 0 20px 20px 20px;
}
footer #feedback form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #feedback form label {
  text-align: left;
  padding: 10px;
}
footer #feedback form input {
  width: 90%;
  height: 40px;
  border: none;
  background-color: var(--form-background);
  color: white;
  padding: 10px;
  margin: 10px;
}
footer #feedback form input:focus {
  outline: none;
  caret-color: var(--mainBlueColor);
}
footer #feedback form textarea {
  width: 90%;
  height: 100px;
  border: none;
  background-color: var(--form-background);
  color: white;
  padding: 10px;
  margin: 10px;
}
footer #feedback form textarea:focus {
  outline: none;
  caret-color: var(--mainBlueColor);
}
footer #feedback form button {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--mainBlueColor);
  color: var(--section-background);
  font-weight: bold;
  margin: 20px 20%;
}
footer #feedback form button:hover {
  cursor: pointer;
  background-color: var(--section-background);
  color: var(--mainBlueColor);
}
footer .loc-contact-container {
  background-color: var(--section-background);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
footer .loc-contact-container #contact-icon, footer .loc-contact-container #location-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border-bottom: 1px solid var(--mainBlueColor);
}
footer .loc-contact-container #contact-icon path, footer .loc-contact-container #location-icon path {
  fill: var(--heading-color);
}
footer .loc-contact-container #contact-icon:hover, footer .loc-contact-container #location-icon:hover {
  cursor: pointer;
  background-color: var(--mainBlueColor);
  color: var(--section-background);
}
footer .loc-contact-container #contact-icon svg, footer .loc-contact-container #location-icon svg {
  width: 20px;
  height: 20px;
}
footer .loc-contact-container .contact-item, footer .loc-contact-container .location-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 30px;
}

aside {
  position: sticky;
  right: -20px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 305px;
  height: 1009px;
  background-color: var(--section-background);
  flex-shrink: 0;
}
aside .asside-image {
  max-width: 305px;
  max-width: 1009px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 2px solid var(--mainBlueColor);
  background: lightgray no-repeat;
  margin: 2px;
}
aside .personal-name {
  color: var(--heading-color);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0rem;
  margin-bottom: 0.5rem;
}
aside .job-info {
  width: 152px;
  height: 31px;
  border-radius: 50px;
  background: rgba(0, 173, 181, 0.3);
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--mainBlueColor);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
  text-transform: capitalize;
  vertical-align: auto;
}
aside .social-pages {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
aside .social-image {
  width: 14px;
  height: 14px;
  fill: var(--heading-color);
  justify-items: center;
  align-items: center;
}
aside .page {
  width: 24px;
  height: 24px;
  border-radius: 10px;
  background-color: var(--mainBlueColor);
}
aside .separating-line {
  width: 220px;
  height: 1.5px;
  background: var(--heading-color);
}
aside .asside-title {
  text-align: left;
  color: var(--heading-color);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
aside .skills {
  display: flex;
  flex-direction: column;
  justify-self: left;
  justify-content: space-evenly;
}
aside .skill-info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
aside .skill-name-item {
  color: var(--form-background);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
aside .skill-percentage-item {
  color: var(--form-background);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
aside .skill-bar {
  width: 220px;
  height: 4px;
  margin-bottom: 1rem;
  border: var(--mainBlueColor) solid;
  border-width: 1px;
  border-radius: 10px;
}
aside .Cpp {
  height: inherit;
  background-color: var(--mainBlueColor);
  width: 90%;
}
aside .html {
  height: inherit;
  background-color: var(--mainBlueColor);
  width: 85%;
}
aside .css {
  height: inherit;
  background-color: var(--mainBlueColor);
  width: 80%;
}
aside .python {
  height: inherit;
  background-color: var(--mainBlueColor);
  width: 75%;
}
aside .js {
  height: inherit;
  background-color: var(--mainBlueColor);
  width: 85%;
}
aside .extra-skills {
  display: flex;
  flex-direction: column;
  justify-self: left;
  justify-content: space-evenly;
}
aside .extra-skill-name {
  margin: 0;
  margin-left: 2rem;
}
aside .extra-skill-item {
  margin: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
}
aside .cv-download {
  margin-top: auto;
  margin-bottom: auto;
}
aside li {
  color: var(--paragraph-color);
}
aside button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--mainBlueColor);
  color: var(--section-background);
  font-weight: bold;
  margin: 10px;
}
aside button path {
  fill: var(--section-background);
}
aside button:hover {
  cursor: pointer;
  background-color: var(--section-background);
  color: var(--mainBlueColor);
}
aside button:hover path {
  fill: var(--mainBlueColor);
}

:root,
.dark-mode {
  --navShadowColor: rgba(47, 122, 249, 0.10);
  --mainBlueColor: #00ADB5;
  --form-background: rgba(240, 240, 246, 0.8);
  --section-background: #222831;
  --body-background:#222831f2;
  --paragraph-color:rgba(238, 238, 238, 0.75);
  --heading-color:#FFF;
}

body {
  padding: 0;
  top: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--body-background);
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

/*
:root {
    --navShadowColor: rgba(47, 122, 249, 0.10);
    --mainBlueColor: #00ADB5;

    --form-background: #F0F0F6;
    --navIconColor: #FFF;
    --section-background: #FFF;
    --body-background:#F0F0F6;
    --paragraph-color:#767676;
    --heading-color:#000;
}
*//*# sourceMappingURL=style.css.map */